In [49]:
import pandas as pd
import numpy as np
import glob
import re

In [50]:
movie_name_df = pd.read_excel('../../../Analysis/movie_dataframe.xlsx').loc[:,['movie_name']]
movie_edited_name_list = [name.replace(':','').replace('&','_') for name in list(movie_name_df['movie_name'])]
movie_name_df['rename'] = movie_edited_name_list
movie_name_df

         movie_name          rename
0              극한직업            극한직업
1        어벤져스: 엔드게임       어벤져스 엔드게임
2            겨울왕국 2          겨울왕국 2
3               알라딘             알라딘
4               기생충             기생충
..              ...             ...
89        프리즌 이스케이프       프리즌 이스케이프
90               검객              검객
91               조제              조제
92           사라진 시간          사라진 시간
93  밤쉘: 세상을 바꾼 폭탄선언  밤쉘 세상을 바꾼 폭탄선언

[94 rows x 2 columns]

In [51]:
movie_name_df[movie_name_df['rename'].str.contains('분노의 질주')]

      movie_name       rename
14  분노의 질주: 홉스&쇼  분노의 질주 홉스_쇼

In [52]:
file_list = glob.glob('../sentiment_analysis_files/*')
len(file_list)

94

In [53]:
columns=['영화명', 'mean_score', 'sqr_mean_score', 'abs_mean_score']
result = pd.DataFrame(columns=columns)

for file in file_list:
  df_comments = pd.read_csv(file)

  movie_name = re.match(r'^.*sentiment\_analysis\_files\/score\_youtube\_comments\_(.*).csv$', file).group(1)
  match_name = list(movie_name_df[movie_name_df['rename'] == movie_name].loc[:, 'movie_name'])[0]
  
  mean_score = np.mean(df_comments['score'])
  sqr_mean_score = np.mean(df_comments['score']**2)
  abs_mean_score = np.mean(np.abs(df_comments['score']))

  new_row = [[match_name, mean_score, sqr_mean_score, abs_mean_score]]

  result = result.append(pd.DataFrame(new_row, columns=columns), ignore_index=True)

In [54]:
result

            영화명  mean_score  sqr_mean_score  abs_mean_score
0         오! 문희   -2.230928       37.314920        2.965916
1   존 윅 3: 파라벨룸    1.820909       15.391047        2.221334
2   다만 악에서 구하소서   -0.270074        7.747352        1.559253
3      유열의 음악앨범    0.789876       11.530897        1.990418
4           히트맨   -1.777042       25.830823        2.772913
..          ...         ...             ...             ...
89       겨울왕국 2   -0.396436        6.719689        1.154460
90      내가 죽던 날   -1.346305       29.334197        3.173486
91           사자    0.925919        7.880573        1.680488
92         1917    1.054631       12.521840        2.188710
93    프리즌 이스케이프    0.201935        2.308607        0.791509

[94 rows x 4 columns]

In [55]:
result.to_csv('state_score.csv', encoding='utf-8-sig')