In [1]:
import pandas as pd
import numpy as np
import glob
import re

In [37]:
movie_name_df = pd.read_excel('../../../Analysis/movie_dataframe.xlsx').loc[:,['movie_name']]
movie_edited_name_list = [name.replace(':','').replace('&','_') for name in list(movie_name_df['movie_name'])]
movie_name_df['rename'] = movie_edited_name_list
movie_name_df

         movie_name          rename
0              극한직업            극한직업
1        어벤져스: 엔드게임       어벤져스 엔드게임
2            겨울왕국 2          겨울왕국 2
3               알라딘             알라딘
4               기생충             기생충
..              ...             ...
89        프리즌 이스케이프       프리즌 이스케이프
90               검객              검객
91               조제              조제
92           사라진 시간          사라진 시간
93  밤쉘: 세상을 바꾼 폭탄선언  밤쉘 세상을 바꾼 폭탄선언

[94 rows x 2 columns]

In [38]:
movie_name_df[movie_name_df['rename'].str.contains('분노의 질주')]

      movie_name       rename
14  분노의 질주: 홉스&쇼  분노의 질주 홉스_쇼

In [39]:
file_list = glob.glob('../sentiment_analysis_files/*')
len(file_list)

92

In [45]:
columns=['영화명', 'mean_score', 'sqr_mean_score', 'abs_mean_score']
result = pd.DataFrame(columns=columns)

for file in file_list:
  df_comments = pd.read_csv(file)

  movie_name = re.match(r'^.*sentiment\_analysis\_files\/score\_youtube\_comments\_(.*).csv$', file).group(1)
  match_name = list(movie_name_df[movie_name_df['rename'] == movie_name].loc[:, 'movie_name'])[0]
  
  mean_score = np.mean(df_comments['score'])
  sqr_mean_score = np.mean(df_comments['score']**2)
  abs_mean_score = np.mean(np.abs(df_comments['score']))

  new_row = [[match_name, mean_score, sqr_mean_score, abs_mean_score]]

  result = result.append(pd.DataFrame(new_row, columns=columns), ignore_index=True)

In [46]:
result.to_csv('state_score.csv', encoding='utf-8-sig')